.header {
  width: 80%;
  height: 5rem;
  display: flex;
  padding:2px;
  justify-content: space-between;
  align-items: center;
  background-color: #060707;
}

.logo {
  font-size: 2rem;
  color: white;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 11;
  padding: 11;
}



.nav a {
  text-decoration: none;
  color: #000000;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #000303;
}
