.header {
  width: 80%;
  height: 3rem;
  display: flex;
  padding:3px;
  justify-content: space-between;
  align-items: center;
  /* background-color: #000000; */
}

.logo {
  font-size: 2rem;
  color: white;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 4;
  padding: 4;
}



/* .nav a {
  text-decoration: none;
  color: #000000;
} */

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #000303;
}
